<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/newstyles.css">
</head>
<body>
    <h3>Whats Your new Chat</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="who are you.." name="from">
        <textarea name="msg" id="msgs" placeholder=">write your message here..."></textarea>
        <input type="text" placeholder="to whome.." name="to">
        <button>Set</button>
    </form>
</body>
</html>